.detailMovie {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  gap: 16px;
}

.imgMovie {
  border-radius: 4px;
  height: auto;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 32px;
}

.title {
  margin-top: 70px;
}

.desc {
  display: -webkit-box;
  max-height: 400px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.theaterLogo {
  position: relative;
  padding: 14px 0;
}

.theaterLogo::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.88);
}/*# sourceMappingURL=DetailMovie.module.css.map */