.divide {
  position: relative;
}

.divide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}/*# sourceMappingURL=Footer.module.css.map */