body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
}/*# sourceMappingURL=GobalStyles.css.map */