.logoImg {
  height: 100%;
}
.logoImg:hover {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.divide {
  position: relative;
  padding: 0 24px;
}

.divide::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.item_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: 0.5s;
}/*# sourceMappingURL=Header.module.css.map */