.card {
    position: relative;
    border-radius: 8px;
    transition: ease 0.5s;
    transform: translateY(0);
}

.image-cover {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 34rem;
    filter: grayscale(10%) contrast(80%);
}

.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(66, 62, 62, 0.6);
    opacity: 0;
    border-radius: 8px;
    transition: 0.5s;
}

.card-title {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 70px;
    color: white;
    transition: 0.3s;
}

.card-button {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(2);
}

.card-overlay:hover {
    opacity: 1;
}

.text-cover {
    inline-size: 20rem;
    overflow-wrap: break-word;
}

@media screen and (min-width: 767px) {
    .card-title {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 8rem;
        color: white;
        transition: 0.3s;
    }

    .card-button {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 20px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }
}
