.myApp {
    background-image: url('../../../assets//images/bgapp.jpg');
    padding: 120px 0 80px 0;
    display: grid;
    align-items: center;
    justify-content: center;

    .content {
        max-width: 960px;
        display: grid;
        grid-template-columns: 50% 50%;

        .link {
            display: grid;
            align-items: center;
            justify-content: left;
            color: #fff;

            .title {
                font-size: xx-large;
                font-weight: 700;
            }

            .linkBtn {
                padding: 16px 32px;
                width: 80%;
                background-color: #fb4226;
                border-radius: 8px;
                font-weight: 500;
                transition: ease-out 0.5s;
                &:hover {
                    background-color: rgb(175, 46, 26);
                }
            }

            .linkDownload {
                text-decoration: underline;
                margin: 0 4px;

                &:hover {
                    color: rgb(175, 46, 26);
                }
            }
        }

        .carousel {
            position: relative;
            .phoneBg {
                position: relative;
                display: block;
                max-width: 100%;
                height: auto;
                padding: 0 28%;
            }
            .carouselContent {
                top: 0;
                left: 0;
                width: 100%;
                display: block;
                padding: 1.5% 29.2% 0 29.2%;
                position: absolute;
                border-radius: 20px;

                .carouselImg {
                    border-radius: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .link {
        margin: 0px 40px;
        text-align: justify !important;
    }
    .title {
        font-size: x-large;
        font-weight: 700;
    }
}
