.showTimesList {
    overflow-y: auto;
    overflow-x: hidden;
}
.showTimesListItem {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 110px !important;
}

.itemShowTimesDate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-right: 100px;
    padding-left: 24px;
    max-height: 128px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 12px;
}

.showTimesListItem::-webkit-scrollbar,
.itemShowTimesDate::-webkit-scrollbar {
    width: 10px;
}

.showTimesListItem::-webkit-scrollbar-track,
.itemShowTimesDate::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 6px;
}

.showTimesListItem::-webkit-scrollbar-thumb,
.itemShowTimesDate::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 6px;
}

.theater,
.logo {
    position: relative;
}

.theater {
    width: 300px;
}

.theater::after {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: rgba(238, 238, 238, 0.88);
}
.theaterItem {
    display: flex;
    position: relative;
    padding: 30px 0;
}

.theaterItem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: rgba(238, 238, 238, 0.88);
}

@media screen and (max-width: 1200px) {
    .wrapperItem {
        min-width: none;
    }

    .showTimesListItem {
        margin-left: 0px;
        padding: 0px !important;
        margin: 0px !important;
    }

    .itemShowTimesDate {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        padding-right: 60px !important;
        padding-left: 24px;
        max-height: 128px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 12px;
    }
}
